<header>

  <!-- Main information -->

  <div class="text-box">
    <h1 class="heading-primary">
      <span class="heading-primary-main">
        <h2 class=" video-title">Чет о проекте <p><span class="vector"> <br>«Название»
            </span> </p>
        </h2>
      </span>
      <span class="heading-primary-sub">
        <h6 class="subtitle-video header col s12 light">Описание </h6>
      </span>
      <a href="/signup" class=" smooth"> <button class="regbutton"> <span class="regword">Регистрация</span></button></a>
      </p>
    </h1>
  </div>
  <video id="video" poster="./image/landing1.jpg" playsinline autobuffer autoplay muted loop>
    <source src="#" type="video/mp4">
  </video>
  </div>
  </div>
</header>
<section id="aboutvector">
  <div class="container-wrap">
    <div class="row">
      <div id="pad1" class="col s12 m6">
        <h4 class="title1 center "> <span class="owncolor">Welcome to the SEALS</span> </h4>
        <div class="center">
          <p class="defabout light">Мы не просто команда разработчиков, мы семья и у нас свои правила. Если вы решите
            попсть в семью, вы должны быть готовы полностью посвятить себя ей, иначе выход из нее тольно один, ночная
            романтичная могилка в лесополоске за городом которую никто не найдет.
          </p>
          <hr class="first">

          <div class="row">
            <div class="col s12 m4">
              <div class="card-item">
                <h2 class="center">
                  <span class="itempro1"><i class="fab fa-teamspeak"></i></span>
                </h2>
                <p class="def light"> Мафия
                </p>
              </div>
            </div>
            <div class="col s12 m4">
              <div class="card-item">
                <h2 class="center">
                  <span class="itempro1"><i class="fas fa-glasses"></i></span>
                </h2>
                <p class="def light"> Четкая <br> иерархия
                </p>
              </div>
            </div>
            <div class="col s12 m4">
              <div class="card-item">
                <h2 class="center">
                  <span class="itempro1"><i class="fas fa-flushed"></i></span>
                </h2>
                <p class="def light"> Соблюдение <br> ролей
                </p>
              </div>
            </div>

          </div>
        </div>
      </div>
      <div class="col s12 m6">
        <div class="container-wrap">
          <img class="defenition" src="./image/logo2.png">
        </div>
      </div>
    </div>

  </div>
</section>

<!-- Statistic  -->

<section id="statistic">
  <div class="statistic">
    <div class="container-wrap">
      <div class="row">
        <div class="numbers col s12 m4">
          <div class="center">
            <h6 class="card-title center statitle"> 2 <br> года</h6>
            <hr>
            <h5 class="center statinfo"> Активное участие <br> в хакатонах</h5>
          </div>
        </div>
        <div class="numbers col s12 m4">
          <div class="center">
            <h6 class="card-title center statitle"> 2 <br> победы</h6>
            <hr>
            <h5 class="center statinfo"> Два года, две победы<br> юбилей </h5>
          </div>
        </div>
        <div class="numbers col s12 m4">
          <div class="center">
            <h6 class="card-title center statitle"> 6 <br> специалистов</h6>
            <hr>
            <h5 class="center  statinfo"> Наша семья растет <br> мы меняем мир </h5>
          </div>
        </div>
      </div>
    </div>
  </div>
  </div>
</section>

<!--Info about section-->

<section id="
          infoa">
  <div id="info" class="camppro">
    <div class="section section-icons lighten-4 center\">
      <div class="container">
        <div class="row">
          <h3 class="title1 center "> <span class="owncolor">О</span> проекте
          </h3>
          <div class="col s12 m4">
            <div class="card-item">
              <h2 class="center">
                <span class="itempro"><i class="fas fa-graduation-cap"></i></span>
              </h2>
              <h5 class="subtitle center">Обучение</h5>
              <p class="def light">Студенческое самоуправление и технология организации выборов
              </p>
            </div>
          </div>
          <div class="col s12 m4">
            <div class="card-item">
              <h2 class="center">
                <span class="itempro"><i class="far fa-star"></i></span>
              </h2>
              <h5 class="subtitle center">Личностный рост</h5>
              <p class="def light">Развитие личностных компетенций
              </p>
            </div>
          </div>
          <div class="col s12 m4">
            <div class="card-item">
              <h2 class="center">
                <span class="itempro"><i class="far fa-handshake"></i></span>
              </h2>
              <h5 class="subtitle center">Проекты</h5>
              <p class="def light">Проектная сессия по развитию студенческого сообщества
              </p>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col s12 m4">
            <div class="card-item">
              <h2 class="center">
                <span class="itempro"><i class="fas fa-cogs "></i></span>
              </h2>
              <h5 class="subtitle center">Ассессмент</h5>
              <p class="def light">Оценка компетенций и рекомендации по их дальнейшему развитию
              </p>
            </div>
          </div>
          <div class="col s12 m4">
            <div class="card-item">
              <h2 class="center">
                <span class="itempro"> <i class="fas fa-users "></i></span>
              </h2>
              <h5 class="subtitle center">Деловые игры</h5>
              <p class="def light">Высокая интерактивность программы
              </p>
            </div>
          </div>
          <div class="col s12 m4">
            <div class="card-item">
              <h2 class="center">
                <span class="itempro"><i class="fas fa-grin-tears"></i></span>
              </h2>
              <h5 class="subtitle center">Эмоции</h5>
              <p class="def light">Яркие впечатления, новые знакомства, интересное общение
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<!-- Register section -->

<section id="register">
  <div class="register">
    <div class="container">
      <h3 class="title center flow-text"><span class="owncolor">Используй</span> уже сейчас</h3>
      <div class="row">
        <div class="col s12 m12">
          <div class="center">
            <h5 class="center reginfo"> Мы готовы решитьв ваши проблемы прямо сейчас, жмите кнокупку и станьте
              участником огромного сообщества экономистов.</h5>
            <div class="center">
              <a href="/register" class="smooth">
                <button class="regbutton">Регистрация</button></a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  </div>
</section>

<!--About section-->

<section id="about">
  <div class="section section-icons  lighten-4 center\">
    <div class="container">
      <div class="row">
        <h3 class="title1 center"> <span class="owncolor">Что</span> мы предлагаем </h3>
        <div class="col s12 m6">

        </div>
      </div>
    </div>
  </div>
  </div>
</section>

<!--Team section-->

<section id="team">
  <div class="section section-icons  lighten-4 center\">
    <div class="container">

      <div class="row">
        <h3 class="title center"><span class="owncolor">Наша</span> команда</h3>
        <div class="col s12 m4">
          <div class="icon-block ">
            <a><img class="mamber materialboxed z-depth-3 responsive-img circle" width="650" src="./image/team1.jpg"></a>
            <h5 class="fio center" style="text-transform:none;">Владислав <br> Крушеницкий</h5>
            <p class="bio light">Project Manager <br>CEO</p>
            <ul class="center">
              <li>
                <a target="_blank" class="social text" href="https://vk.com/elensonina">
                  <i class="vk fab fa-vk fa-2x"></i>
                  </i>
                </a>
                <a target="_blank" class="social text" href="https://www.instagram.com/elen.sonina">
                  <i class="inst fab fa-instagram fa-2x"></i>
                </a>
              </li>
            </ul>
          </div>
        </div>
        <div class="col s12 m4">
          <div class="icon-block">
            <a><img class=" mamber materialboxed z-depth-3 responsive-img circle" width="650" src="./image/team3.jpg"></a>
            <h5 class="fio center" style="text-transform:none;">Мрак <br> Попопвиченко</h5>
            <p class="bio light">Product Manager <br>Marketer
            </p>
            <ul class="center">
              <li>
                <a target="_blank" class="social text" href="https://vk.com/e.livenskaya">
                  <i class="vk fab fa-vk fa-2x"></i>
                  </i>
                </a>
                <a target="_blank" class="social text" href="https://www.instagram.com/elenalivenskaya">
                  <i class="inst fab fa-instagram fa-2x"></i>
                </a>
              </li>
            </ul>
          </div>
        </div>
        <div class="col s12 m4">
          <div class="bio icon-block">
            <img class="mamber materialboxed z-depth-3 responsive-img circle" width="650" src="./image/team2.jpg">
            <h5 class="fio center" style="text-transform:none;">Никита <br> Булахов</h5>
            <p class="bio light">Front-end <br> Web developer</p>
            <ul class="center">
              <li>
                <a target="_blank" class="social text" href="https://vk.com/katovich_veronika1">
                  <i class="vk fab fa-vk fa-2x"></i>
                  </i>
                </a>
                <a target="_blank" class="social text" href="https://www.instagram.com/katovich_veronika">
                  <i class="inst fab fa-instagram fa-2x"></i>
                </a>
              </li>
            </ul>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col s12 m4">
          <div class="icon-block ">
            <a><img class="mamber materialboxed z-depth-3 responsive-img circle" width="650" src="./image/team4.jpg"></a>
            <h5 class="fio center" style="text-transform:none;">Артем <br> Поляничев</h5>
            <p class="bio light">Full Stack<br> Web developer</p>
            <ul class="center">
              <li>
                <a target="_blank" class="social text" href="https://vk.com/elensonina">
                  <i class="vk fab fa-vk fa-2x"></i>
                  </i>
                </a>
                <a target="_blank" class="social text" href="https://www.instagram.com/elen.sonina">
                  <i class="inst fab fa-instagram fa-2x"></i>
                </a>
              </li>
            </ul>
          </div>
        </div>
        <div class="col s12 m4">
          <div class="icon-block">
            <a><img class=" mamber materialboxed z-depth-3 responsive-img circle" width="650" src="./image/quest.png"></a>
            <h5 class="fio center" style="text-transform:none;">Х <br> З</h5>
            <p class="bio light">UI designer <br>UX designer</p>
            <ul class="center">
              <li>
                <a target="_blank" class="social text" href="https://vk.com/e.livenskaya">
                  <i class="vk fab fa-vk fa-2x"></i>
                  </i>
                </a>
                <a target="_blank" class="social text" href="https://www.instagram.com/elenalivenskaya">
                  <i class="inst fab fa-instagram fa-2x"></i>
                </a>
              </li>
            </ul>
          </div>
        </div>
        <div class="col s12 m4">
          <div class="bio icon-block">
            <img class="mamber materialboxed z-depth-3 responsive-img circle" width="650" src="./image/team5.jpg">
            <h5 class="fio center" style="text-transform:none;">Алексей <br> Онанов</h5>
            <p class="bio light">Android<br> developer</p>
            <ul class="center">
              <li>
                <a target="_blank" class="social text" href="https://vk.com/katovich_veronika1">
                  <i class="vk fab fa-vk fa-2x"></i>
                  </i>
                </a>
                <a target="_blank" class="social text" href="https://www.instagram.com/katovich_veronika">
                  <i class="inst fab fa-instagram fa-2x"></i>
                </a>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
  </div>
  </div>
  </div>
  </div>
  </div>
  </div>
</section>

<!--Contacts section-->

<section id="contacts">
  <div class="section section-icons white lighten-4 center\">
    <div class="container">
      <div class="section">
        <div class="row">
          <div class="col s12 center">
            <h3>
              <i class="mdi-content-send brown-text"></i>
            </h3>
            <h3 class="title1 center "> <span class="owncolor">Наши</span> партнёры</h3>
            <p id="mail" class="center-align light">Если вы хотите стать нашим партнёром или у вас
              остались <br>
              вопросы,
              свяжитесь с нами по почте
              <span style="color: #0a5; text-shadow: 1px 1px 1px #000000"> krushenitskii@gmail.com</span>
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<!-- Partnership -->

<section id="partners">
  <div class="container">
    <div>
      <div class="row">
        <div class="col s12 m3">
          <a target="_blank" href="http://www.ruy.ru/"> <img id="rsm" class="spons" src="./image/quest.png">
          </a>
        </div>
        <div class="col s12 m3">
          <a target="_blank" href="https://vk.com/aso_russia26"> <img class="spons" src="./image/quest.png"></a>
        </div>
        <div class="col s12 m3">
          <a target="_blank" href="http://www.ncfu.ru/"> <img class="spons" src="./image/quest.png"></a>
        </div>
        <div class=" col s12 m3">
          <a target="_blank" href="https://fadm.gov.ru/"> <img class="spons" src="./image/quest.png"></a>
        </div>
      </div>
    </div>
  </div>
</section>