<div id="logview" class="container-wrap">
  <div id="logform" class="col s12 m12">
    <div id="backlog" class='container-wrap'>
      <div class="container center">
        <form class="logform center" action="/signin" method="POST">
          <h1>Login</h1>
          <input type="text" name="email" placeholder="Email">
          <input type="password" name="password" placeholder="Password">
          <button class="regbutton">Войти</button>
        </form>
      </div>
    </div>
  </div>
</div>

</div>