<div id="regview" class="container">
  <div id="regform" class="col s12 m12">
    <div id="backreg" class='container-wrap'>
      <div class="container center">
        <form class="regform" action="/signup" method="POST">
          <h1 class="center">Регистрация</h1>
          <div class="row">
            <div class="col s12 m6">
              <input type="email" name="email" placeholder="Email">
              <input type="text" name="firstname" placeholder="Имя">
            </div>
            <div class="col s12 m6">
              <input type="text" name="lastname" placeholder="Отчество">
              {{!-- <input type="text" name="create_surname" placeholder="Фамилия"> --}}
              <input type="password" name="password" placeholder="Пароль">
            </div>
          </div>
          <button class="regbutton">Подтвердить</button>
        </form>
      </div>
    </div>
  </div>
</div>

</div>