/* Footer */
.copy {
  padding: 3%;
  font-size: 18px;
}
main {
  flex: 1 0 auto;
}
.inst {
  color: rgba(243, 243, 243, 0.9);
  padding: 9px;
  padding-right: 11px;
  padding-left: 11px;
  border-radius: 50%;
  background-color: rgba(255, 255, 255, 0.3);
  text-shadow: 1px 1px 4px #000000;
  transition: 0.2s;
}
.inst:hover {
  background-color: #0a5;
  border-radius: 20%;
  color: white;
}
.fab {
  margin-bottom: 20px;
}
.vk {
  color: rgba(243, 243, 243, 0.9);
  padding: 7px;
  border-radius: 50%;
  background-color: rgba(255, 255, 255, 0.3);
  text-shadow: 1px 1px 4px #000000;
  transition: 0.2s;
}
.vk:hover {
  background-color: #0a5;
  border-radius: 20%;
  color: white;
}
.page-footer {
  background-color: rgb(5, 5, 5);
}

footer.page-footer {
  font-family: "Open Sans", sans-serif;
  margin-top: -20px;
  padding-bottom: 2%;
}
.press li {
  list-style: none;
  display: inline-block;
}
