body {
  margin: 0;
  padding: 0;
  width: 100%;
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}
img {
  max-width: 100%;
  height: auto;
}
/* Index controll */
.card-image,
.waves-effect,
.card {
  z-index: 0;
}
#index-banner {
  height: 700px;
  z-index: 0;
}

/* Text */
.title {
  color: white;
  text-shadow: 1px 1px 4px #000000;
  margin-top: 60px;
  padding-bottom: 60px;
  letter-spacing: 0.26em;
  font-weight: 100;
  font-size: 6vmin;
  font-family: "Russo One", sans-serif;
  font-weight: normal;
  text-transform: uppercase;
}

.teamtitle {
  padding: 60px;
  color: white;
  text-shadow: 1px 1px 8px #000000;
  letter-spacing: 0.26em;
  font-weight: 100;
  font-size: 6vmin;
  font-family: "Russo One", sans-serif;
  font-weight: normal;
}

.title1 {
  color: rgba(31, 29, 29, 0.8);
  padding-bottom: 50px;
  padding-top: 50px;
  letter-spacing: 0.15em;
  font-weight: 100;
  font-size: 6vmin;
  font-family: "Russo One", sans-serif;
  font-weight: bold;
  text-transform: uppercase;
}
.vector {
  color: #0a5;
  font-weight: bold;
  text-shadow: 1px 1px 3px #000000;
  font-family: "Russo One", sans-serif;
  font-weight: normal;
  font-size: 6vmin;
}
.fio {
  color: #0a5;
  font-weight: bold;
  text-shadow: 1px 1px 4px #000000;
  font-family: "Russo One", sans-serif;
  font-weight: normal;
  font-size: 3vmin;
}
.owncolor {
  color: #0a5;
  font-weight: bold;
  text-shadow: 2px 1px 2px #302f2f;
  font-family: "Russo One", sans-serif;
  font-weight: normal;
  font-size: 6vmin;
  text-transform: uppercase;
}

.subtitle-video {
  color: white;
  text-transform: uppercase;
  text-shadow: 1px 1px 4px #000000;
  padding: 5px 0px 5px 0px;
  letter-spacing: 0.26em;
  font-family: "Open Sans", sans-serif;
}
.activator {
  font-family: "Russo One", sans-serif;
  color: #0a5;
  text-shadow: 1px 1px 3px #000000;
  font-size: 20px;
  cursor: pointer;
}
.subtitle {
  color: #0a5;
  font-size: 20px;
  padding: 5px 0px 5px 0px;
  letter-spacing: 1px;
  font-weight: bold;
  font-family: "Russo One", sans-serif;
  text-shadow: 2px 1px 4px #000000;
  margin-top: 40px;
}
.vedeo-text {
  margin-bottom: 30px;
  text-align: center;
  margin: 2rem 3rem 0;
  z-index: 1;
  color: #fff;
}
.video-title {
  padding-bottom: 15px;
  font-size: 4vmin;
  text-align: center;
  margin: 20rem 3rem 0;
  z-index: 1;
  color: #fff;
  font-weight: bold;
  font-family: "Open Sans", sans-serif;
  text-shadow: 1px 1px 2px #000000;
}

/* InfoAbout */
.card-item {
  padding: 8px 0px 40px 0px;
}
.itempro1 {
  padding: 2% 6% 2% 6%;
  background: white;
  border: 3px rgb(0, 170, 85, 0.8) solid;
  width: 50%;
  border-radius: 50%;
  transition: 0.2s;
  color: rgb(0, 170, 85, 0.8);
}

.itempro1:hover {
  background: rgb(0, 170, 85, 0.8);
  border: 3px rgb(0, 170, 85, 0.8) solid;
  width: 60%;
  border-radius: 50%;
  transition: 0.2s;
  color: white;
}
.itempro {
  padding: 7%;
}
.itempro {
  background: white;
  border: 3px rgba(54, 50, 50, 0.8) solid;
  width: 50%;
  border-radius: 50%;
  transition: 0.2s;
  color: rgba(53, 49, 49, 0.8);
}
.itempro:hover {
  background: rgba(255, 255, 255, 0.9);
  border: 3px #0a5 solid;
  width: 60%;
  border-radius: 50%;
  transition: 0.2s;
  color: #0a5;
}
.card-item h2 {
  margin-bottom: 10%;
}

.def {
  text-align: center;
  color: rgba(59, 55, 55, 0.8);
  font-size: 18px;
  padding: 1px 5% 5% 5%;
  margin-top: 16%;
  font-weight: bold;
  font-family: "Open Sans", sans-serif;
}
/*  Statistic */
.statistic {
  position: relative;
  min-height: 500px;
  background-image: linear-gradient(
      to right bottom,
      rgba(224, 226, 231, 0.2),
      rgba(0, 0, 0, 0.7)
    ),
    url("../image/landing2.jpg");
  background-attachment: fixed;
  background-size: cover;
  width: 100%;
}
.statitle {
  color: white;
  font-size: 47px;
  padding: 10%;
  font-weight: bold;
  font-family: "Russo One", sans-serif;
  text-shadow: 2px 1px 3px #000000;
  margin-top: 15%;
}
.numbers {
  margin: 10% 0% 15% 0%;
}
.first {
  border: 1px solid rgba(186, 191, 198, 0.4);
  width: 100%;
  margin-top: -15px;
  margin-bottom: 5%;
}
hr {
  border: 1px solid #0a5;
  width: 80%;
  margin-top: -15px;
}
.statinfo {
  color: white;
  font-size: 22px;
  text-align: center;
  text-shadow: 1px 2px 4px #000000;
  font-family: "Open Sans", sans-serif;
}
/* REGISTER STYLE */
.reginfo {
  color: white;
  font-size: 22px;
  text-align: center;
  text-shadow: 1px 2px 4px #000000;
  font-family: "Open Sans", sans-serif;
}

.register {
  position: relative;
  min-height: 700px;
  background-image: linear-gradient(
      to right bottom,
      rgba(224, 226, 231, 0.1),
      rgba(0, 0, 0, 0.9)
    ),
    url("../image/landing3.jpg");
  background-attachment: fixed;
  background-size: cover;
}
.register #top {
  position: absolute;
  top: 0;
  width: 100%;
  height: 10vw;
  fill: white;
}
.register #bot {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 10vw;
  fill: white;
}
.regbutton {
  font-size: 18px;
  font-weight: bold;
  display: inline-block;
  padding: 15px 30px;
  margin: 60px;
  cursor: pointer;
  user-select: none;
  transition: all 0.1s ease-out;
  text-decoration: none;
  letter-spacing: 1px;
  text-transform: uppercase;
  color: #0a5;
  border: 3px solid rgb(103, 194, 148);
  background-color: rgba(255, 255, 255, 0.9);
  -webkit-font-smoothing: antialiased;
}
.regbutton:hover {
  color: white;
  background-color: #0a5;
  border: 3px solid #ffffff;
}

.reg-card {
  background-color: rgba(7, 7, 7, 0);
}
.teamreg {
  width: 100%;
  height: auto;
  font-family: "Open Sans", sans-serif;
}
.selfreg {
  width: 100%;
  height: auto;
  font-family: "Open Sans", sans-serif;
}
.card-action .regbutton {
  margin-left: 35%;
}
.register .title {
  padding-top: 12%;
}

/* INFO ABOUT PROGRAMM */
#aboutvector {
  margin-top: 50px;
}
.defenition {
  width: 100%;
  padding: 5%;
  margin-top: 5%;
  height: 90%;
  margin-bottom: 30%;
  cursor: auto;
}
#pad1 {
  padding-left: 5%;
}
.defabout {
  text-align: center;
  margin-top: -20px;
  color: rgba(59, 55, 55, 0.8);
  font-size: 18px;
  padding: 1px 3% 6% 3%;
  font-weight: bold;
  font-family: "Open Sans", sans-serif;
}

#about {
  position: relative;
  min-height: 570px;
  background-image: linear-gradient(
    to right bottom,
    rgba(255, 255, 255, 0.1),
    rgba(255, 255, 255, 0.5)
  );

  margin: 0% 0px 5% 0px;
}
.proginfo {
  background: #ffffff;
  padding: 20px 10px 0 10px;
  border-top: 1px solid #0a5;
  color: rgba(31, 46, 61, 0.5);
  font-size: 20px;
  font-family: "Open Sans", sans-serif;
}

.infotitle {
  color: #0a5;
  text-shadow: 1px 1px 3px #000000;
  font-family: "Russo One", sans-serif;
}

/* TEAM INFORMATION */

#team {
  position: relative;
  min-height: 1100px;
  background-image: linear-gradient(
      -135deg,
      rgba(224, 226, 231, 0.2),
      rgba(0, 0, 0, 0.7)
    ),
    url("../image/landing4.jpg");
  background-attachment: fixed;
  background-size: cover;
}
.team {
  padding-top: 100px;
}
#team #top {
  position: absolute;
  top: 0;
  width: 100%;
  height: 10vw;
  fill: white;
}
#team #bot {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 10vw;
  fill: white;
}
.bio {
  color: white;
  font-size: 18px;
  text-align: center;
  font-weight: bold;
  margin-bottom: 20px;
  text-shadow: 1px 2px 1px #000000;
  font-family: "Open Sans", sans-serif;
}
.mamber:hover {
  cursor: auto;
  border: 3px rgba(255, 255, 255, 0.9) solid;
}
.social {
  margin-right: 10px;
}
.mamber {
  width: 60%;
  left: 20%;
  border: 3px white solid;
  text-shadow: 1px 1px 4px #000000;
  transition: 1s;
  cursor: auto;
}
/* PARTNERS */
#partners {
  margin: 0% 0% 10% 0%;
}
/* CONTACTS SECTION */
#mail {
  font-size: 24px;
  color: rgba(31, 46, 61, 0.5);
  font-family: "Open Sans", sans-serif;
}

/* Media */
@media only screen and (max-width: 1200px) {
  .defenition {
    width: 100%;
    padding: 2%;
    margin-top: 54%;
    margin-left: 7%;
    height: 90%;
    cursor: auto;
  }
  .defabout {
    text-align: left;
    margin-bottom: 20%;
    color: rgba(59, 55, 55, 0.8);
    font-size: 17 px;
    padding: 1px 1% 2% 1%;
    font-weight: bold;
    font-family: "Open Sans", sans-serif;
  }
}
@media only screen and (max-width: 992px) {
  #index-banner .section {
    top: 10%;
  }
  .btn-large {
    margin-left: 10px;
  }
  .defenition {
    width: 100%;
    padding: 2%;
    margin-top: 59%;
    margin-left: 7%;
    height: 90%;
    cursor: auto;
  }
  .defabout {
    text-align: left;
    margin-bottom: 20%;
    color: rgba(59, 55, 55, 0.8);
    font-size: 17 px;
    padding: 1px 1% 2% 1%;
    font-weight: bold;
    font-family: "Open Sans", sans-serif;
  }
  .statitle {
    color: white;
    font-size: 35px;
    padding: 10%;
    font-weight: bold;
    font-family: "Russo One", sans-serif;
    text-shadow: 1px 1px 2px #000000;
    margin-top: 15%;
  }
}
@media only screen and (max-width: 600px) {
  .defenition {
    width: 100%;
    padding: 10%;
    margin-top: 20%;
    margin-bottom: 20%;
    margin-left: 0%;
    height: 90%;
    cursor: auto;
  }
  .defabout {
    text-align: center;
    color: rgba(59, 55, 55, 0.8);
    font-size: 17 px;
    padding: 1px 3% 2% 3%;
    font-weight: bold;
    font-family: "Open Sans", sans-serif;
  }
}
@font-face {
  font-family: "Brody";
  font-style: normal;
  font-weight: normal;
  src: local("Brody"), url("../fonts/BRODY.woff") format("woff");
}
.spons {
  width: 100%;
  margin: 5%;
}
#rsm {
  margin-top: 5%;
}
